body {

    font-family: 'Poppins', sans-serif !important;

}

#header {

    background-image: url('./Asset/Images/banner1.png');
    background-size: cover;
    background-position: center;
    /* height: 50vh; */
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: white !important;
}

nav {

    background-color: rgba(0, 0, 0, 0.2);
    /* Adjust the alpha value (0.8) for desired transparency */
    backdrop-filter: blur(5px);
    /* Optional: Apply a slight blur for a frosted glass effect */

}

.order-card div {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.order-card:hover img {
    transform: rotate(2deg) scale(1.1);


}

#craveNestContainer {


    background-image: url('./Asset/Images/banner4.png');
    background-size: cover;
    background-position: center;
}

#discountContainer {

    background-image: url('./Asset/Images/banner2.png');
    background-size: cover;
    background-position: center;
}

#menuContainer {

    background-image: url('./Asset/Images/banner5.png');
    background-size: cover;
    background-position: center;
}

#menuContainer1 {
    background-image: url('./Asset/Images/banner5.png');
    background-size: cover;
    background-position: center;
}

/* Add this to your CSS */
.modal-box.closing {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.uk-slideshow-items {
    height: 300px;
    /* Adjust the height as needed */
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gray;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}